#body{
  font-family: Verdana, serif;
  background-image: linear-gradient( 0deg, #ff0000 20% , #000000 90%);
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #1B96BD;
  font-weight: 500;
}

.container{
  margin: 0 10% 0 10%;
}

.menu-horiz li{
  display: inline;
  padding: 0 5px 0 5px;
}

.cabecalho{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  font-size: 40px;
  position: relative;
}

.box{
 display: block;
 width: auto;
 border: solid 1px #fff;
 margin: 10px;
 padding: 10px;
}

.box-1{
  display: flex;
}

.box-child-1{
  flex-grow: 1;
}

.box-child-2{
  flex-grow: 1;
}

.box-child-3{
  flex-grow: 1;
}

.rodape{
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px
}
