#body{
  font-family: Verdana, serif;
  background-image: linear-gradient( 0deg, #ff0000 20% , #000000 90%);
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #1B96BD;
  font-weight: 500;
}

.container{
  margin: 0 10% 0 10%;
}

.cabecalho{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  font-size: 40px;
  position: relative;
}

.menu-horiz li{
  display: inline;
  padding: 0 5px 0 5px;
}

.corpo figure{
  display: inline-block;
  border: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0);
  box-shadow: #000000 2px 2px 5px;
  padding: 5px 5px 150px 5px;
  position: relative;
}

.corpo figcaption{
  position: absolute;
}

.rodape{
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px
}
