body{
  font-family: Verdana, serif;
  background-image: linear-gradient( 0deg, #ff0000 20% , #000000 90%);
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #1B96BD;
  font-weight: 500;
}

.container{
  margin: 0 10% 0 10%;
}

.menu-horiz li{
  display: inline;
  padding: 0 5px 0 5px;
}

header{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  font-size: 40px;
  position: relative;
  text-align: center;
}

.box{
 width: auto;
 margin: 10px;
 padding: 10px;
}

.box-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.box-child-1{
  box-shadow: rgb(0, 0, 0) 2px 2px 5px;
}

.box-child-2{
  box-shadow: rgb(0, 0, 0) 2px 2px 5px;
}

.box-child-3{
  box-shadow: rgb(0, 0, 0) 2px 2px 5px;
}

.box figure{
  display: inline-block;
  padding: 5px 5px 150px 5px;
  position: relative;
}

.box figcaption{
  position: absolute;
}

footer{
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  text-align: center;
}
